<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="author" content="Ng Zhi An">
    <title>Ng Zhi An</title>
    <link rel="stylesheet" href="./styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet" type="text/css">
  </head>

  <body>
    <div class="content">
      <section id="content" class="body">
        <table id="post-list">
        {{#posts}}
          <tr>
            <td>
              <span class="published">{{ date }}</span>
            </td>
            <td>
              <a class="entry-title" href="{{ html_path }}">
                {{{ title }}}
              </a>
            </td>
          </tr>
        {{/posts}}
        </table>
      </section>
      <footer>
      <a href="./rss.xml">RSS</a>
      Powered by <a href="https://github.com/ngzhian/ocs">ocs</a>, a static blog generator written in OCaml.
      </footer>
    </div>
  </body>
</html>
