<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="./styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class="content">
      <header id="banner">
        <img class="avatar" src="http://i.imgur.com/r3v4S9O.jpg">
      </header>
      <section id="content" class="body">
        <a href="./index.html">&lt;</a>
        <time class="published">
        {{ date }}
        </time>
        <h1>
        {{ title }}
	</h1>
        <div class="entry-content">
        {{{ content }}}
        </div>
      </section>
      <footer>
      Powered by <a href="https://github.com/ngzhian/ocs">ocs</a>, a static blog generator written in OCaml.
      </footer>
    </div>
  </body>
</html>
