<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="author" content="Ng Zhi An">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="./styles.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet" type="text/css">
    <meta name="viewport" content="initial-scale=1">
  </head>

  <body>
    <div class="content">
      <section id="content" class="body">
        <a class="home" href="./index.html">Home</a>
        <h1>
        {{ title }}
        </h1>
        <time class="published">
        {{ date }}
        </time>
        <div class="entry-content">
        {{{ content }}}
        </div>
      </section>
      <footer>
      Powered by <a href="https://github.com/ngzhian/ocs">ocs</a>, a static blog generator written in OCaml.
      </footer>
    </div>
  </body>
</html>
