body {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 1.6;
}

ul {
    list-style-type: circle;
}

a {
    color: #222;
}

a:hover {
    color: #777;
}

#banner {
    padding: 50px 0 20px 0;
    text-align: center;
}

.avatar {
    height: 75px;
}

.content {
    max-width: 768px;
    margin: auto auto;
}

#post-list {
    padding-left: 0;
    list-style: none;
}

#post-list td {
    padding: 5px;
}

.published {
    font-weight: normal;
    font-size: 16px;
    color: #aaa;
}

pre {
    border: solid 1px #d9d9d9;
    border-radius: 5px;
    background: #fff;
    padding: 12px;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
    overflow-x: auto;
}

p code {
    background: #edf6ea;
    border: 1px solid #e3edf3;
    border-radius: 2px;
    font-family: Inconsolata,monospace,sans-serif;
    padding: 1px 3px;
}

footer {
    margin: 80px 0 20px 0;
    font-size: 14px;
}
