body {
    font-family: 'Pt Sans', 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 1.6;
    background: #fcfcfc;
    color: #333;
}

ul {
    list-style-type: circle;
}

a {
    color: #4A4A4A;
}

.entry-content a {
    color: #9FBF2E;
}

blockquote {
    border-left: 2px solid #eee;
    padding-left: 1rem;
}

a:hover {
    color: #7A7A7A;
}

/* link to home at the top of each post */
.home {
    font-size: 0.8em;
    color: #888;
}

.content {
    padding: 10px 0 10px 0;
    max-width: 768px;
    margin: auto auto;
}

#post-list td {
    padding: 5px;
}

@media (max-width: 600px) {
  #post-list tr td:nth-child(1)  {
  }
}

#post-list tr td:nth-child(1)  {
  white-space: nowrap;
  vertical-align: top;
  /* useful for top aligning this when titles span more than one row in the table */
}

/* date published on index page */
.published {
    font-weight: normal;
    font-size: 0.9rem;
    color: #aaa;
}

pre {
    border: solid 1px #d9d9d9;
    border-radius: 5px;
    background: #fff;
    padding: 12px;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
    overflow-x: auto;
}

li code, p code {
    background: #edf6ea;
    border: 1px solid #e3edf3;
    border-radius: 2px;
    font-family: Inconsolata,monospace,sans-serif;
    padding: 1px 3px;
}

footer {
    margin: 80px 0 20px 0;
    font-size: 14px;
}
